[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
matplotlib = "*"
scipy = "*"
plotly = "*"
jupyter = "*"
kaleido = "*"
scikit-learn = "*"
sympy = "*"

[dev-packages]

[requires]
python_version = "3.10"
